// 最大幅
$contentMaxWidth: 1920px;

// 色
$--main: #045a71;
// $--main: #ab394d;
$--main-02: #594d98;
$--sub-01: #bd1276;
// $--sub-01: #1b2f60;
$--sub-01-disabled: #bd127675;
$--sub-02: #d7da25;
$--base-01: #fffbcb;
$--base-02: #ffffff;
$--text: #000000;
$--line: #dcdcdc;
$--box-bg: #f4f2f0;
$--box-hover: #adadad;
$--tag-bg: #dbdbdb;
$--blend-gy: #fff489;
$--line-02: #a2a1a1;
$--color-gray: #707070;
$--toc-bg:#FFFEF0;
$--cat-underline: #c9c9c9;
$--detailCont-underline: #c3c3c3;
$--c-text-red: #DD295E;
$--members-bg: #9e9e9e;
$--restriction-modal-bg: rgba(158,158,159,.61);
$--restriction-box-bg: #FFFEF0;
$--registration-input-border: #cccbcb;
$--movieMat-hover-bg: #D3D3CF;
$--link-text: #045a71;
