.bl_mv_wrapper{
	height: 70vh;
}
.bl_mv{
	height: 70vh;
}
.bl_mv.bl_mv_01{
	background-image: url(../assets/images/mv/mv01.jpg);
}
.bl_mv.bl_mv_02{
	background-image: url(../assets/images/mv/mv02.jpg);
}
.bl_mv.bl_mv_03{
	background-image: url(../assets/images/mv/mv03.jpg);
}
